@{
    ViewBag.Title = "Forbidden";
}

<div>
    Что бы продолжить работу с сайтом нужно @Html.ActionLink("Войти", "Login", "Account") или @Html.ActionLink("Зарегистрироваться", "Registration", "Account")
</div>